In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(15, 4)), columns=list('ABCD'))

In [3]:
df

     A   B   C   D
0   67  78  83  80
1   64   1  12  53
2    4   0  63  26
3   76   8  40  51
4    0  21  57  35
5   43  15  78  84
6   25  84  67  47
7   73  95   7  18
8   92  46  37   6
9    1  88  90  49
10   6   6  39   8
11  10  97  38  60
12  84  27  67  81
13  93  87  55   3
14  23  65  46  90